
[submodule "gate"]
	path = gate
	url = https://github.com/hunter-packages/gate.git
[submodule "thirdparty/boost/di"]
	path = thirdparty/boost/di
	url = https://github.com/boost-experimental/di.git
[submodule "thirdparty/boost/magic_get"]
	path = thirdparty/boost/magic_get
	url = https://github.com/apolukhin/magic_get.git
[submodule "thirdparty/boost/Boost.Application"]
	path = thirdparty/boost/Boost.Application
	url = https://github.com/retf/Boost.Application.git
[submodule "thirdparty/boost/boost.http"]
	path = thirdparty/boost/boost.http
	url = https://github.com/BoostGSoC14/boost.http.git
[submodule "thirdparty/boost/stacktrace"]
	path = thirdparty/boost/stacktrace
	url = https://github.com/apolukhin/stacktrace.git
[submodule "wiki"]
	path = wiki
	url = https://github.com/cpp-repo/BaseApp.wiki.git
